#login-form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#greeting {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
